// color palette
$shade-1: #000b0f;
$shade-2: #031221;
$shade-3: #081230;
$shade-4: #0b0b3f;
$shade-5: #231451;
$shade-6: #401f60;
$shade-7: #5f2b70;
$shade-8: #823b82;
$shade-9: #914d80;
$shade-10: #a35d80;
$shade-11: #b27080;
$shade-12: #c18989;
$shade-13: #ceaca1;
$shade-14: #ddcab8;
$shade-15: #efe9d7;
$shade-16: #f9f9f2;

$color-bg: $shade-2;
$color-font: rgb(114, 173, 140);
$color-font-sub: rgb(77, 115, 170);
